// Normalize styles
@import './common';

// Utils
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixin';

// Base
@import './base/body';
@import './base/reset';
@import './base/section';
@import './base/container';
@import './base/link';

// Compontents
@import './components/hero';
@import './components/header';
@import './components/mobile-menu';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
