:root {
  // Fonts
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;

  // Colors
  --white-color: #fff;
  --black-color: #000;
  --light-grey-color: #e1e1e1;
  --secondary-light-grey-color: #d9d9d9;
  --grey-color: #907e82;
  --secondary-grey-color: #ecebeb;
  --light-pink-color: #fff5f6;
  --pink-color: #ffa5ba;
  --secondary-pink-color: #ffb8ca;
  --icon-pink-color: #fea5bb;
  --dark-pink-color: #e17992;
  --secondary-dark-pink-color: #e18298;
  --red-pink-color: #d41443;
  --secondary-red-pink-color: #d41342;
  --cream-color: #f0d1a5;
  --light-green-color: #c2e297;

  // Animations
  --anim-duration: 250ms;
  --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
