<section class="contacts" id="contacts">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts-list">
            <li class="contacts-list__item">
                <p class="contacts-list__category">cafe</p>

                <p class="contacts-list__title">Chicago</p>
                <p class="contacts-list__text">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>

                <ul class="contacts-list__time">
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Monday - Friday</p>
                        <p class="contacts-list__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Saturday - Sunday</p>
                        <p class="contacts-list__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-list__contacts">
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__category contacts-list__category--green">
                    food truck
                </p>
                <div class="contacts-list__city">
                    <p class="contacts-list__title">Los Angeles</p>
                    <p class="contacts-list__text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </div>
                <ul class="contacts-list__time">
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Monday - Friday</p>
                        <p class="contacts-list__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Saturday - Sunday</p>
                        <p class="contacts-list__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-list__contacts">
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__category">cafe</p>
                <div class="contacts-list__city">
                    <p class="contacts-list__title">New York</p>
                    <p class="contacts-list__text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </div>
                <ul class="contacts-list__time">
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Monday - Friday</p>
                        <p class="contacts-list__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-list__time-item">
                        <p class="contacts-list__time-title">Saturday - Sunday</p>
                        <p class="contacts-list__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-list__contacts">
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="link contacts-list__contacts-link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="contacts-button__group">
            <li class="contacts-button__item">
                <button type="button" class="contacts-button__btn">
                    <span class="contacts-button__text">Our Locations</span>
                    <svg width="8" height="10">
                        <use class="contacts-button__dark-icon" href="./images/icon/icon-sprite.svg#icon-right-arrow">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="contacts-button__item">
                <button type="button" class="contacts-button__btn contacts-button__btn--white">
                    <span class="contacts-button__text contacts-button__text--white">Franchise</span>
                    <svg width="8" height="10">
                        <use class="contacts-button__white-icon" href="./images/icon/icon-sprite.svg#icon-right-arrow">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>