<section class="contacts section">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts-list">
            <li class="contacts-list__item"> 
                <p class="contacts-list__category">cafe</p>
                <div class="contacts-list__city">
                    <h3 class="contacts-list-title">Chicago</h3>
                        <p class="contacts-list__text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                </div>
                <div class="contacts-list__time">
                    <h3 class="contacts-list-title">Monday - Friday</h3>
                        <p class="contacts-list__time-text">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts-list-title">Saturday - Sunday</h3>
                            <p class="contacts-list__time-text">
                                08:00 AM - 16:00 PM
                            </p>
                </div>
                    <ul class="contacts-list__contacts">
                        <li class="contacts-list__contacts-item">
                            <a class="link contacts-list__contacts-link" href="tel:+610383766284 ">+61(0) 383 766
                                284</a>
                        </li>
                        <li>
                            <a class="link contacts-list__contacts-link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__category-foodtruck">foodtruck</p>
                <div class="contacts-list__city">
                    <h3 class="contacts-list-title">Los Angeles</h3>
                        <p class="contacts-list__text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                </div>
                <div class="contacts-list__time">
                    <h3 class="contacts-list-title">Monday - Friday</h3>
                        <p class="contacts-list__time-text">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts-list-title">Saturday - Sunday</h3>
                            <p class="contacts-list__time-text">
                                08:00 AM - 16:00 PM
                            </p>
                </div>
                <ul class="contacts-list__contacts">
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link" href="tel:+610383766284 ">+61(0) 383 766
                            284</a>
                    </li>
                    <li>
                        <a class="link contacts-list__contacts-link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__category">cafe</p>
                <div class="contacts-list__city">
                    <h3 class="contacts-list-title">New York</h3>
                        <p class="contacts-list__text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                </div>
                <div class="contacts-list__time">
                    <h3 class="contacts-list-title">Monday - Friday</h3>
                        <p class="contacts-list__time-text">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts-list-title">Saturday - Sunday</h3>
                            <p class="contacts-list__time-text">
                                08:00 AM - 16:00 PM
                            </p>
                </div>
                <ul class="contacts-list__contacts">
                    <li class="contacts-list__contacts-item">
                        <a class="link contacts-list__contacts-link" href="tel:+610383766284 ">+61(0) 383 766
                            284</a>
                    </li>
                    <li>
                        <a class="link contacts-list__contacts-link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="contacts-button__group">
            <button type="button" class="contacts-button__dark-btn"> <span class="contacts-button__dark-text">Our Locations</span> <svg width="8" height="10">
                    <use class="contacts-button__dark-icon" href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
                </svg> </button>
            <button type="button" class="contacts-button__white-btn"> <span class="contacts-button__white-text">Franchise</span> <svg width="8" height="10">
                    <use class="contacts-button__white-icon" href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
                </svg> </button>

        </div>

    </div>
</section>