<article>
  <h1 class="visually-hidden">Customer reviews</h1>
  <div class="container section">
    <!-- Slider main container -->
    <div class="swiper my-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper__img">
            <picture>
              <source
                srcset="
                  ./images/reviews/review-1.png    1x,
                  ./images/reviews/review-1@2x.png 2x
                "
                type="image/png"
                width="85"
              />
              <img
                class="swiper__image"
                src="./images/reviews/review-1.png"
                alt="emily, los angeles"
              />
            </picture>
          </div>
          <div class="swiper__block">
            <p class="swiper__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="swiper__list">
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
          </ul>
          <p class="swiper__user">emily, los angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper__img">
            <picture>
              <source
                srcset="
                  ./images/reviews/review-2.png    1x,
                  ./images/reviews/review-2@2x.png 2x
                "
                type="image/png"
                width="85"
              />
              <img
                class="swiper__image"
                src="./images/reviews/review-2.png"
                alt="emily, los angeles"
              />
            </picture>
          </div>
          <div class="swiper__block">
            <p class="swiper__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
              ullam, fuga nisi illum illo consequatur rem quia accusantium autem
              provident, maxime officia inventore laborum porro dicta
              repellendus. Nobis, autem quasi.
            </p>
          </div>
          <ul class="swiper__list">
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
          </ul>
          <p class="swiper__user">Jessica, los angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper__img">
            <picture>
              <source
                srcset="
                  ./images/reviews/review-3.png    1x,
                  ./images/reviews/review-3@2x.png 2x
                "
                type="image/png"
                width="85"
              />
              <img
                class="swiper__image"
                src="./images/reviews/review-3.png"
                alt="emily, los angeles"
              />
            </picture>
          </div>
          <div class="swiper__block">
            <p class="swiper__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
              ullam, fuga nisi illum illo consequatur rem quia accusantium autem
              provident, maxime officia inventore laborum porro dicta
              repellendus. Nobis, autem quasi.
            </p>
          </div>
          <ul class="swiper__list">
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
            <li class="swiper__item"></li>
          </ul>
          <p class="swiper__user">vanessa, California</p>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination--bullet"></div>
    </div>
  </div>
</article>
