<section class="section gallery-section">
    <div class="container gallery__container">
        <h2 class="visually-hidden">Gallery IceCrem Page</h2>
        <div class="gallery__img-mob">
            <picture>
                <source srcset="
                                    ./images/galery/galery_lg.png 1x,
                                    ./images/galery/galery_lg@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
                <source srcset="
                                    ./images/galery/galery_md.png 1x,
                                    ./images/galery/galery_md@2x.png 2x" media="(min-width: 768px)" type="image/png" />
                <source srcset="
                                    ./images/galery/galery_sm.png 1x,
                                    ./images/galery/galery_sm@2x.png 2x" media="(max-width: 767px)" type="image/png" />
            
                <img src="./images/galery/galery_sm.png" class="mob__img" alt="Ice-cream" loading="lazy" />
            </picture>
        </div>
        <ul class="gallery__list">
            <li class="gallery__item gallery__item-1">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-1_des.png 1x,
                                ./images/galery/gallery-1_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-1_tab.png 1x,
                                ./images/galery/gallery-1_tab@2x.png 2x" 
                            media="(min-width: 768px)"
                            type="image/png" 
                        />
        
                        <img src="./images/galery/gallery-1_tab.png" 
                            
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item-2">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-2_des.png 1x,
                                ./images/galery/gallery-2_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-2_tab.png 1x,
                                ./images/galery/gallery-2_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png"
                        />
                    
                        <img src="./images/galery/gallery-2_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-3_des.png 1x,
                                ./images/galery/gallery-3_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"
                            
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-3_tab.png 1x,
                                ./images/galery/gallery-3_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png" 
                        />
                    
                        <img src="./images/galery/gallery-3_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item-3">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-4_des.png 1x,
                                ./images/galery/gallery-4_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png" 
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-4_tab.png 1x,
                                ./images/galery/gallery-4_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png" 
                        />
                    
                        <img src="./images/galery/gallery-4_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
                <div class="gallery__img gallery__img-another">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-5_des.png 1x,
                                ./images/galery/gallery-5_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png" 
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-5_tab.png 1x,
                                ./images/galery/gallery-5_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png" 
                        />
        
                        <img src="./images/galery/gallery-5_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item-4">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-6_des.png 1x,
                                ./images/galery/gallery-6_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"  
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-6_tab.png 1x,
                                ./images/galery/gallery-6_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png"  
                        />
                    
                        <img src="./images/galery/gallery-6_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-7_des.png 1x,
                                ./images/galery/gallery-7_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"  
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-7_tab.png 1x,
                                ./images/galery/gallery-7_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png"  
                        />
                    
                        <img src="./images/galery/gallery-7_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item-5">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-8_des.png 1x,
                                ./images/galery/gallery-8_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png" 
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-8_tab.png 1x,
                                ./images/galery/gallery-8_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png" 
                        />
                    
                        <img src="./images/galery/gallery-8_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-9_des.png 1x,
                                ./images/galery/gallery-9_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-9_tab.png 1x,
                                ./images/galery/gallery-9_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png"
                        />
                    
                        <img src="./images/galery/gallery-9_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item-6">
                <div class="gallery__img">
                    <picture>
                        <source 
                            srcset="
                                ./images/galery/gallery-10_des.png 1x,
                                ./images/galery/gallery-10_des@2x.png 2x" 
                            media="(min-width: 1200px)" 
                            type="image/png"
                        />
                        <source 
                            srcset="
                                ./images/galery/gallery-10_tab.png 1x,
                                ./images/galery/gallery-10_tab@2x.png 2x" 
                            media="(min-width: 768px)" 
                            type="image/png"
                        />
                    
                        <img src="./images/galery/gallery-10_tab.png" 
                             
                            alt="Ice-cream"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>