<header>
  <div class="container container-header">
    <nav class="site-nav">
      <a href="./index.html" class="logo">
        <svg width="199" height="50">
          <use href="./images/icon/icon-sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link current" href="/src/index.html">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">About us</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#advatages">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>

      <div class="header__btn-group">
        <button type="button" class="site-nav__btn js-open-menu">
          <svg width="20" height="12">
            <use
              href="./images/icon/icon-sprite.svg#icon-mobile-menu-open"
            ></use>
          </svg>
        </button>
        <button type="button" class="header_buy-btn">
          <span class="mobile-menu__btn-text">Buy now</span>
          <svg width="8" height="10">
            <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
  <div class="mobile-menu container js-menu-container">
    <button
      type="button"
      class="mobile-menu__close-btn js-close-menu"
      aria-controls="mobile-menu"
    >
      <svg width="14" height="14" aria-label="close button">
        <use href="./images/icon/icon-sprite.svg#icon-mobile-menu-close"></use>
      </svg>
    </button>
    <button type="button" class="mobile-menu__buy-btn">
      <span class="mobile-menu__btn-text">Buy now</span>
      <svg width="8" height="10">
        <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link current" href="/src/index.html">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#about">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#advatages">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</header>
