<!-- hero -->
<section class="hero">
    <div class="container">
        <h1 class="hero-title">ice cream
            made with
            <span class="hero-text">passion</span>
        </h1>
        <ul class="hero-list list">
            <li class="hero-item"><a href="#products" class="link  hero-btn hero-btn--dark">Products</a></li>
            <li class="hero-item">


                <a href="#about" class="link hero-btn  hero-btn--white">How it’s made?</a>
            </li>
        </ul>
        <picture>
            <source media="(min-width: 1200px)" srcset="
                                ./images/hero/icecream_lg.png 1x,
                                ./images/hero/icecream_lg@2x.png 2x
                              " type="image/jpg" />
            <source media="(min-width: 768px)" srcset="
                                ./images/hero/icecream_md.png 1x,
                                ./images/hero/icecream_md@2x.png 2x
                              " type="image/jpg" />
            <source media="(max-width: 767px)" srcset="
                              ./images/hero/icecream_sm.png 1x,
                              ./images/hero/icecream_sm@2x.png 2x
                            " type="image/jpg" />
            <img class="hero-image" src="./images/hero/icecream_sm.png" alt="icecream" width="171" height="410" />
        </picture>

        <div class="elipce"></div>

    </div>
</section>