<div>
    <button type="button" class=" js-close-menu" aria-controls="mobile-menu">
        <svg width="14" height="14" aria-label="Переключатель мобильного меню">
            <use class="" href=""></use>
        </svg>
    </button>
    <button type="button">
        Buy now
        <svg width="6" height="8">
            <use class="" href=""></use>
        </svg>
    </button>
    <ul>
        <li>
            <a href="../index.html">Home</a>
        </li>
        <li>
            <a href="">About us</a>
        </li>
        <li>
            <a href="">How it’s made?</a>
        </li>
        <li>
            <a href="">Our products</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>
</div>