<section class="products section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-content">
      <li class="products-block">
        <div class="products-block__content content">
          <h3 class="content__subtitle">ice cream</h3>
          <div class="content__description" id="content__first">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnFirst">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-block">
        <div class="products-block__content content">
          <h3 class="content__subtitle">ice coffee</h3>
          <div class="content__description" id="content__second">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnSecond">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-block">
        <div class="products-block__content content">
          <h3 class="content__subtitle">milkshakes</h3>
          <div class="content__description" id="content__third">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnThird">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
