<section class="products section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <div class="products-content">
      <div class="products-block">
        <picture class="products-block__picture">
          <source
            srcset="
              ./images/products/product-1_lg.png    1x,
              ./images/products/product-1_lg@2x.png 2x
            "
            width="368"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/product-1_md.png    1x,
              ./images/products/product-1_md@2x.png 2x
            "
            width="224"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/product-1_sm.png    1x,
              ./images/products/product-1_sm@2x.png 2x
            "
            width="280"
            media="(min-width: 320px)"
          />

          <img
            src="./images/products/product-1_sm.png"
            width="280"
            alt="Ice-cream"
          />
        </picture>

        <div class="products-block__content content">
          <h3 class="content__subtitle">ice cream</h3>
          <div class="content__description" id="content__first">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnFirst">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
          <!-- <img src="../images/icon/icon-sprite.svg" /> -->
        </div>
      </div>
      <div class="products-block">
        <picture class="products-block__picture">
          <source
            srcset="
              ./images/products/product-2_lg.png    1x,
              ./images/products/product-2_lg@2x.png 2x
            "
            width="368"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/product-2_md.png    1x,
              ./images/products/product-2_md@2x.png 2x
            "
            width="224"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/product-2_sm.png    1x,
              ./images/products/product-2_sm@2x.png 2x
            "
            width="280"
            media="(min-width: 320px)"
          />

          <img
            src="./images/products/product-2_sm.png"
            width="280"
            alt="ice coffee"
          />
        </picture>

        <div class="products-block__content content">
          <h3 class="content__subtitle">ice coffee</h3>
          <div class="content__description" id="content__second">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnSecond">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
          <!-- <img src="../images/icon/icon-sprite.svg" /> -->
        </div>
      </div>
      <div class="products-block">
        <picture class="products-block__picture">
          <source
            srcset="
              ./images/products/product-3_lg.png    1x,
              ./images/products/product-3_lg@2x.png 2x
            "
            width="368"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/product-3_md.png    1x,
              ./images/products/product-3_md@2x.png 2x
            "
            width="224"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/product-3_sm.png    1x,
              ./images/products/product-3_sm@2x.png 2x
            "
            width="280"
            media="(min-width: 320px)"
          />

          <img
            src="./images/products/product-3_sm.png"
            width="280"
            alt="milkshakes"
          />
        </picture>

        <div class="products-block__content content">
          <h3 class="content__subtitle">milkshakes</h3>
          <div class="content__description" id="content__third">
            <p class="content__text content__text--front">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              <span class="content__span">dolore magna aliqua facilisis.</span>
            </p>
            <p class="content__text content__text--back">
              Minima, asperiores maiores Corporis labore consequatur sit! Eius
              nostrum molestias fugiat officiis !
            </p>
          </div>
          <button type="button" class="content-button" id="btnThird">
            <svg class="content-button__icon" width="15" height="15">
              <use href="./images/icon/icon-sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
          <!-- <img src="../images/icon/icon-sprite.svg" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
