<section class="products">
  <div class="container">
    <p class="pruducts-label">100% natural</p>
    <h1 class="products-title">products</h1>
    <div class="products-block">
      <picture>
        <source
          srcset="
            ./images/products/product-1_lg.png    1x,
            ./images/products/product-1_lg@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/products/product-1_md.png    1x,
            ./images/products/product-1_md@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/products/product-1_sm.png    1x,
            ./images/products/product-1_sm@2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="./images/products/product-1_lg.png"
          width="368"
          alt="Ice-cream"
        />
      </picture>

      <div class="products-description">
        <h2 class="products-subtitle">ice cream</h2>
        <p class="products-text description-front">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-text description-back">
          Minima, asperiores maiores Corporis labore consequatur sit! Eius
          nostrum molestias fugiat officiis!
        </p>
        c
      </div>
    </div>
    <div class="products-block">
      <picture>
        <source
          srcset="
            ./images/products/product-2_lg.png    1x,
            ./images/products/product-2_lg@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/products/product-2_md.png    1x,
            ./images/products/product-2_md@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/products/product-2_sm.png    1x,
            ./images/products/product-2_sm@2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="./images/products/product-2_md@2x.png"
          width="368"
          alt="ice coffee"
        />
      </picture>
      <div class="products-description">
        <h2 class="products-subtitle">ice coffee</h2>
        <p class="products-text description-front">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-text description-back">
          Minima, asperiores maiores Corporis labore consequatur sit! Eius
          nostrum molestias fugiat officiis!
        </p>
        <a class="products-button"></a>
      </div>
    </div>
    <div class="products-block">
      <picture>
        <source
          srcset="
            ./images/products/product-3_lg.png    1x,
            ./images/products/product-3_lg@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/products/product-3_md.png    1x,
            ./images/products/product-3_md@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/products/product-3_sm.png    1x,
            ./images/products/product-3_sm@2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="./images/products/product-3_lg.png"
          width="368"
          alt="milkshakes"
        />
      </picture>
      <div class="products-description">
        <h2 class="products-subtitle">milkshakes</h2>
        <p class="products-text description-front">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-text description-back">
          Minima, asperiores maiores Corporis labore consequatur sit! Eius
          nostrum molestias fugiat officiis!
        </p>
        <a class="products-button"></a>
      </div>
    </div>
  </div>
</section>
