.about {
  background-color: var(--light-pink-color);

  padding-top: 54px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/about/wave-milk_lg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 236px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/wave-milk_lg@2x.png');
    }
  }
}

.about__container {
  @media screen and (max-width: 767.98px) {
    background-image: url('../images/about/wave-milk_sm.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 534px;
    background-origin: content-box;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/wave-milk_sm@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 16px;
  }
}

.about__label {
  margin-bottom: 15px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: var(--pink-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--red-pink-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;

    font-size: 58px;
    line-height: 1.13;
  }
}

.about__wrapper-not-mobile {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__img-wrapper {
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 99px;
  }
}

.about__img-cow {
  @media screen and (min-width: 768px) {
    max-width: none;
  }
}

.about__right-side-wrapper {
  @media screen and (min-width: 1200px) {
    margin-top: 90px;
  }
}

.about__text-wrapper {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.about__description {
  padding-right: 45px;
  margin-bottom: 25px;

  line-height: 1.6;

  color: var(--black-color);

  @media screen and (min-width: 768px) {
    padding-right: 0px;

    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    padding-right: 120px;

    font-size: 16px;
    line-height: 1.75;
  }
}

.about__text {
  padding-right: 60px;

  line-height: 1.6;

  color: var(--grey-color);

  @media screen and (min-width: 768px) {
    padding-right: 0px;

    font-size: 14px;
    line-height: 1.78;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 120px;

    line-height: 1.92;
  }
}

.about__text-last-paragraph {
  display: inline-block;
  margin-top: 12px;

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
  }
}

.about-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--red-pink-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  width: 176px;
  height: 44px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  &:hover,
  &:focus {
    background-color: var(--secondary-grey-color);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.about-btn__icon {
  fill: var(--red-pink-color);
  margin-left: 14px;
}
