.advantages {
  padding-bottom: 60px;

  background-color: var(--light-pink-color);
}

.advantages__item {
  position: relative;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__amount {
  margin-bottom: 20px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--red-pink-color);
}

.advantage__amount--1 {
  &::before {
    position: absolute;
    content: '';
    width: 33px;
    height: 50px;

    background-image: url(../images/advantages/advantages__icon-1.png);
  }
}
.advantage__amount--2 {
  &::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/advantages__icon-2.png);
  }
}
.advantage__amount--3 {
  &::before {
    position: absolute;
    content: '';
    width: 44px;
    height: 50px;
    background-image: url(../images/advantages/advantages__icon-3.png);
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: var(--black-color);
}
