.advantages {
  padding-bottom: 60px;

  background-color: var(--light-pink-color);
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-right: 175px;
  }
}

.advantages__item {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages__amount {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--red-pink-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;

    font-size: 48px;
    line-height: 1.14;
    text-transform: lowercase;
  }
}

.advantage__amount--1 {
  &::before {
    content: '';

    width: 33px;
    height: 50px;

    display: flex;
    margin-bottom: 16px;

    background-image: url('../images/advantages/advantages__icon-1.png');
    background-size: 33px 50px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/advantages__icon-1@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      margin-bottom: 36px;
    }
  }
}
.advantage__amount--2 {
  &::before {
    content: '';

    width: 50px;
    height: 50px;

    display: flex;
    margin-bottom: 16px;

    background-image: url('../images/advantages/advantages__icon-2.png');
    background-size: 50px 50px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/advantages__icon-2@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      margin-bottom: 36px;
    }
  }
}
.advantage__amount--3 {
  &::before {
    content: '';

    width: 46px;
    height: 52px;

    display: flex;
    margin-bottom: 16px;

    background-image: url('../images/advantages/advantages__icon-3.png');
    background-size: 46px 52px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/advantages__icon-3@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      margin-bottom: 36px;
    }
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: var(--black-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;

    color: var(--black-color);
  }
}
