.contacts {
  padding-top: 0;
  padding-bottom: 20px;

  background-image: linear-gradient(
    to bottom,
    var(--white-color) 20%,
    var(--light-pink-color) 20%,
    var(--light-pink-color) 80%
  );

  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 40%,
      var(--light-pink-color) 40%,
      var(--light-pink-color) 60%
    );
  }

  @include mq(desktop) {
    padding-bottom: 60px;

    background-image: linear-gradient(
      to bottom,
      var(--white-color) 14%,
      var(--light-pink-color) 14%,
      var(--light-pink-color) 86%
    );
  }
}

.contacts__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include mq(tablet) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts-list {
  display: block;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.contacts-list__item {
  width: 100%;
  max-height: 412px;
  padding: 40px 32px;
  margin-bottom: 20px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: var(--white-color);

  @include mq(tablet) {
    max-height: 528px;
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    max-height: 538px;
    padding: 40px;
  }
}

.contacts-list__item:last-child {
  @include mq(mobile-only) {
    margin-bottom: 0;
  }
}

.contacts-list__category {
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: center;

  width: 80px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--cream-color);
  border-radius: 4px;

  @include mq(tablet) {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}

.contacts-list__category--green {
  width: 130px;

  background-color: var(--light-green-color);

  @include mq(tablet) {
    width: 138px;
    height: 28px;
    font-size: 16px;
  }
}

.contacts-list__city {
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-grey-color);

  @include mq(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  letter-spacing: 0.04em;

  color: var(--black-color);

  @include mq(tablet) {
    font-size: 14px;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.contacts-list__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  padding-right: 20px;

  color: var(--grey-color);

  @include mq(tablet) {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.66;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-list__time {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-grey-color);

  @include mq(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__time-text {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  color: var(--pink-color);

  @include mq(tablet) {
    font-size: 14px;
    margin-bottom: 12px;
  }

  @include mq(desktop) {
    font-size: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;

  @include mq(tablet) {
    margin-top: 32px;
  }
}

.contacts-list__contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--grey-color);

  transition: color var(--anim-duration) var(--anim-timing-function);

  @include mq(tablet) {
    font-size: 14px;
    line-height: 1.83;
  }

  @include mq(desktop) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    color: var(--red-pink-color);
  }
}

.contacts-button__group {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include mq(tablet) {
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
  }
}

.contacts-button__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 161px;
  height: 44px;

  background-color: var(--secondary-red-pink-color);
  border: none;
  border-radius: 22px;

  cursor: pointer;

  @include mq(tablet) {
    margin-right: 12px;
    width: 191px;
  }
  @include mq(desktop) {
    width: 198px;
  }
}

.contacts-button__btn--white {
  margin: 10px 0 0 0;

  background-color: var(--white-color);

  transition: background-color var(--anim-duration) var(--anim-timing-function),
    width (--anim-duration) var(--anim-timing-function);

  &:hover,
  &:focus {
    width: 180px;
    background-color: var(--secondary-grey-color);
  }

  @include mq(tablet) {
    margin-top: 0;
    width: 174px;
  }

  @include mq(desktop) {
    width: 168px;
  }
}

.contacts-button__text {
  margin-right: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white-color);

  @include mq(tablet) {
    margin-right: 14px;
  }
}

.contacts-button__text--white {
  margin-right: 13px;

  color: var(--red-pink-color);
}

.contacts-button__dark-icon {
  fill: var(--white-color);
}

.contacts-button__white-icon {
  fill: var(--red-pink-color);
}
