.container-main {
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq(tablet) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @include mq(desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.swiper {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
}

.swiper__img {
  margin-bottom: 32px;

  @include mq(tablet) {
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    margin-bottom: 16px;
  }
}

.swiper__image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.swiper__block {
  position: relative;
  padding-left: 65px;
  padding-right: 58px;
  padding-top: 43px;
  padding-bottom: 17px;

  margin: 0 auto;
  margin-bottom: 8px;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-white-color);

  @include mq(tablet) {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 0;
  }

  @include mq(desktop) {
    max-width: 968px;
    padding-left: 74px;
    padding-right: 74px;
    margin-bottom: 16px;
  }
}

.swiper__text {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--black-color);
  z-index: 1;
  height: 100%;
  &::before {
    content: '';
    width: 54px;
    height: 40px;
    font-size: 50px;
    display: inline-block;
    background-image: url(../images/icon/svg/elem.svg);
    position: absolute;
    top: -12px;
    left: -14px;
    z-index: -1;

    @include mq(tablet) {
      background-image: url(../images/icon/svg/elem-tablet.svg);
      width: 60px;
      top: -15px;
      left: 34px;
    }

    @include mq(desktop) {
      background-image: url(../images/icon/svg/elem.svg);
      width: 54px;
      top: -15px;
      left: -3px;
    }
  }

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px,

    var(--light-grey-color) 30px,
    var(--light-grey-color) 31px
  );

  @include mq(tablet) {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,

      var(--light-grey-color) 29px,
      var(--light-grey-color) 30px
    );
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.87;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.swiper__elem {
  text-align: center;
}

.swiper__list {
  display: flex;
  justify-content: center;

  margin-bottom: 7px;

  @include mq(desktop) {
    margin-bottom: 16px;
  }
}

.swiper__item::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  display: inline-block;
}

.swiper__item {
  & + .swiper__item {
    margin-left: 10px;
  }
}

.swiper__user {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 16px;
  color: var(--black-color);

  @include mq(tablet) {
    font-size: 16px;
    margin-bottom: 32px;
  }

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.85;
  }
}

.swiper-slide {
  text-align: center;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: var(--secondary-light-grey-color);
}

.swiper .swiper-pagination {
  position: static;
}

.swiper .swiper-pagination-bullet-active {
  background-image: url(../images/icon/svg/home.svg);
  background-color: transparent;
  border-radius: 0;
  background-size: cover;
}
