.gallery-section {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to bottom, var(--light-pink-color), 
    var(--light-pink-color) 19%, var(--white-color) 20%);

    @include mq(tablet) {
        // min-width: 768px;
    }

    
}

.gallery__container {
    padding-left: 0;
    padding-right: 0;

    @include mq(desktop) {
        padding-left: 93px;
        padding-right: 94px;
        // max-width: 1200px;
        
    }
}

.gallery__img-mob {
   @include mq(tablet) {
        display: none;
    } 
}

.gallery__list {
    display: none;
    // align-items: center;
    justify-content: space-between;

    @include mq(tablet) {
        display: flex;

    }

    @include mq(desktop) {

    }
}

.gallery__item-1 {
    padding-top: 14%;
    
}

.gallery__item-2 {
    padding-top: 9%;
}

.gallery__item-4 {
    padding-top: 10%;
}
.gallery__item-5 {
    padding-top: 7%;
}
.gallery__item-6 {
    padding-top: 15%;
}



.gallery__img {
    transform: scale3d(1, 1, 1);
    transition: transform var(--transition);
    position: relative;
    &-another {
        margin-right: 49%;
    }

    &:hover,
    &:focus {
        transform: scale3d(1.5, 1.5, 2);
        z-index: 1;
    } 
}

