.container-header {
    background-color: var(--secondary-pink-color);

    padding-top: 8px;

    position: relative;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.sait-nav__btn {
    border: none;
    background: none;
    padding: 0;
}