.hero {
  overflow: hidden;
}

.hero-position {
  padding-top: 194px;
  padding-bottom: 153px;
  position: relative;
  z-index: 3;
  background-color: var(--secondary-pink-color);
  @media screen and(min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 49px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 147px;
    padding-bottom: 77px;
  }
}

.hero-burg {
  position: absolute;
  top: 92px;
  left: 37%;
  width: 171px;
  height: 410px;
  z-index: -1;

  @media screen and(min-width: 768px) {
    position: absolute;
    top: 80px;
    left: 322px;
    width: 143px;
    height: 336px;
  }

  @media screen and(min-width: 1200px) {
    position: absolute;
    top: 108px;
    left: 636px;
    width: 236px;
    height: 557px;
  }

  &::before {
    position: absolute;
    content: '';
    top: -9px;
    left: -81px;

    width: 344px;
    height: 344px;
    border-radius: 50%;

    background-color: var(--pink-color);
    z-index: -2;

    @media screen and(min-width: 768px) {
      top: -30px;
      left: -71px;
      width: 324px;
      height: 324px;
    }

    @media screen and(min-width: 1200px) {
      top: -54px;
      left: -119px;
      width: 534px;
      height: 534px;
    }
  }
}

@media screen and(min-width: 1200px) {
  .hero-image {
    width: 236px;
    height: 557px;
  }
}

.image-tasty {
  animation: pulsing 3s infinite;

  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) {
    position: absolute;
    top: 265px;
    right: 35px;
  }

  @media screen and(min-width: 1200px) {
    top: 425px;
    right: 33px;
    width: 304px;
    height: 241px;
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.image-cup {
  animation: rotate 3s infinite;

  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 768px) {
    position: absolute;
    top: 248px;
    left: 3.4%;
  }
  @media screen and(min-width: 1200px) {
    position: absolute;
    top: 388px;
    left: 16px;
    width: 213px;
    height: 216px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.hero-box {
  margin-bottom: 20px;
  max-width: 218px;

  @media screen and(min-width: 768px) {
    max-width: 162px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 28px;

    max-width: 277px;
  }
}

.hero-title {
  font-family: var(--secondary-font);
  @include fonts(400, 26px, 1.16, 0.04em);
  text-transform: uppercase;

  color: var(--white-color);

  @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
  }

  @media screen and(min-width: 1200px) {
    font-size: 38px;
  }

  &__text {
    @include fonts(400, 48px, 0.97, 0.04em);
    text-transform: uppercase;

    color: var(--red-pink-color);

    @media screen and(min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }

    @media screen and(min-width: 1200px) {
      font-size: 58px;
    }
  }
}

.number-list {
  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) {
    position: absolute;
    right: 38px;
    top: 94px;
    display: block;
  }

  @media screen and(min-width: 1200px) {
    position: absolute;
    top: 156px;
    right: 25px;
  }

  &__item {
    position: relative;
    text-align: right;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__item::before {
    position: absolute;
    content: '';
    top: -2px;
    right: -6px;

    width: 16px;
    height: 16px;

    background-color: var(--white-color);
    border-radius: 100%;
    animation: transition 4s infinite;
    z-index: -1;

    @media screen and(min-width: 1200px) {
      width: 30px;
      height: 30px;
      top: -6px;
      right: -9px;
    }
  }

  &__achive {
    display: block;
    font-family: var(--secondary-font);
    @include fonts(400, 28px, 1.14, 0.04em);
    text-transform: uppercase;

    color: var(--red-pink-color);

    @media screen and(min-width: 1200px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
  &__desc {
    font-family: var(--main-font);
    @include fonts(400, 8px, 1.25, 0.04em);
    text-transform: lowercase;

    text-align: center;

    color: var(--white-color);

    @media screen and(min-width: 1200px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
}

@media screen and(min-width: 768px) {
  @keyframes transition {
    0% {
      transform: translateY(1px);
    }
    25% {
      transform: translateY(19px);
    }
    50% {
      transform: translateX(-32px) translateY(19px);
    }
    75% {
      transform: translateX(-32px) translateY(1px);
    }
    100% {
      transform: translateX(0px) translateY(-1px);
    }
  }
}

@media screen and(min-width: 1200px) {
  @keyframes transition {
    0% {
      transform: translateY(-1px);
    }
    25% {
      transform: translateY(32px);
    }
    50% {
      transform: translateX(-52px) translateY(32px);
    }
    75% {
      transform: translateX(-52px) translateY(1px);
    }
    100% {
      transform: translateX(0px) translateY(-1px);
    }
  }
}

.hero-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media screen and(min-width: 768px) {
    margin-bottom: 61px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 108px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;

    @media screen and(min-width: 1200px) {
      margin-right: 12px;
    }
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  @include fonts(400, 8px, 1.25, null);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: none;

  font-family: inherit;
  cursor: pointer;
  padding: 9px 14px;

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 23px;
    letter-spacing: 0.04em;
  }
}

.hero-btn--dark {
  color: var(--white-color);
  background-color: var(--red-pink-color);

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing-function);
}

.hero-btn--white {
  color: var(--red-pink-color);
  background-color: var(--white-color);

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing-function);
}

.hero-btn--white:hover,
.hero-btn--white:focus {
  background-color: var(--secondary-grey-color);
}

.hero-btn--dark:hover,
.hero-btn--dark:focus {
  background-color: var(--secondary-grey-color);
}

.hero__indenture {
  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) {
    max-width: 116px;
    margin-bottom: 7px;
    margin-left: 154px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--white-color);
  }

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.4;

    max-width: 220px;
    margin-bottom: 20px;
    margin-left: 229px;
  }
}

.hero-link {
  transition-property: background-color, fill;
  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing-function);

  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;

    border: none;
    border-radius: 50%;

    fill: var(--red-pink-color);
    background-color: var(--white-color);
    margin-left: 184px;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 229px;
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus {
    fill: var(--white-color);
    background-color: var(--red-pink-color);
  }
}

.hero-svg {
  margin-left: 2px;
}
