.products .container {
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mq(desktop) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.products {
  &__label {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.6;

    text-transform: uppercase;
    text-align: center;

    color: var(--pink-color);

    @include mq(tablet) {
      font-size: 26px;
      line-height: 1.15;
    }
    @include mq(desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
  }
  &__title {
    margin-bottom: 8px;
    margin-top: 15px;

    font-family: var(--secondary-font);
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    text-transform: uppercase;
    text-align: center;

    color: var(--red-pink-color);

    @include mq(tablet) {
      font-size: 48px;
      line-height: 1.15;
    }
    @include mq(desktop) {
      margin-bottom: 20px;

      font-size: 58px;
      line-height: 1.14;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
      flex-direction: row;
      gap: 16px;
    }
    @include mq(desktop) {
      gap: 32px;
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-top: 140px;

    border-radius: 24px;

    &:nth-child(1) {
      background-color: var(--secondary-pink-color);
    }
    &:nth-child(2) {
      background-color: var(--cream-color);
    }
    &:nth-child(3) {
      background-color: var(--light-green-color);
    }

    @include mq(tablet) {
      margin-top: 158px;
    }
    @include mq(desktop) {
      margin-top: 281px;
    }
  }
}
.products-block {
  &__picture {
    position: absolute;
    @include mq(not-desktop) {
      top: -140px;
    }
    @include mq(desktop) {
      bottom: 402px;
    }
  }
  &__content {
    padding-top: 140px;
    padding-left: 41px;
    padding-right: 39px;

    @include mq(tablet) {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 87px;
    }
    @include mq(desktop) {
      padding-left: 61px;
      padding-right: 62px;
      padding-top: 128px;
    }
  }
}
.content {
  &__subtitle {
    margin-top: 20px;

    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);

    &::after {
      content: '';

      display: flex;

      width: 26px;
      height: 6px;

      margin-left: 10px;
      margin: 32px auto;

      background-image: url('../images/products/product-dot.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include mq(tablet) {
      margin-top: 32px;
    }
    @include mq(desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
  }
  &__text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    text-align: center;

    color: var(--white-color);
    @include mq(tablet) {
      line-height: 1.8;
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: 1.75;
    }
    &__span {
      @include mq(tablet) {
        display: none;
      }
    }
  }
  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: 32px auto 40px;

    border: none;
    border-radius: 50%;

    background-color: var(--white-color);

    transition: transform 1s ease;
    @include mq(desktop) {
      margin: 60px auto;
    }
  }
}

.content__text {
  &--back {
    display: none;
  }
}
.content-option .content__text--back {
  display: flex;
}
.content-option .content__text--front {
  display: none;
}
.content-button {
  &__icon {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    fill: var(--red-pink-color);
  }
}

.rotate {
  transform: rotate(180deg);
}

.flipcard .back {
  transform: rotateY(-180deg);
}
.flipcard .front,
.flipcard .back {
  position: absolute;

  width: 100%;
  height: 100%;

  padding: 10px;

  box-sizing: border-box;
  padding: 10px;

  color: red;
  background-color: #000;

  transition: transform var(--transition);
}
.products-button:hover.front,
.flipcard.flip .front {
  transform: rotateY(180deg);
}
.products-button:hover.back,
.flipcard.flip .back {
  transform: rotateY(0deg);
}
.flipcard {
  position: relative;

  width: 220px;
  height: 160px;

  perspective: 500px;
}
